{{ define "Index" }}
  {{ template "Header" }}
    {{ template "Menu"  }}
    <center><h2>This is The List Of All Registered Users</h2></center>
    <table id="customers"border="10">
      <thead>
      <tr>
        <td>ID</td>
        <td>Name</td>
        <td>Address & City</td>
        <td>Contact Number</td>
        <td>PinCode</td>
        <td>View</td>
        <td>Edit</td>
        <td>Delete</td>
      </tr>
       </thead>
       <tbody>
    {{ range . }}
      <tr>
        <td>{{ .Id }}</td>
        <td> {{ .Name }} </td>
        <td>{{ .City }} </td> 
        <td> {{ .Number}} </td>
        <td>{{ .Pincode }} </td> 
        <td><a href="/show?id={{ .Id }}">View</a></td>
        <td><a href="/edit?id={{ .Id }}">Edit</a></td>
        <td><a href="/delete?id={{ .Id }}">Delete</a><td>
      </tr>
    {{ end }}
       </tbody>
    </table>
  {{ template "Footer" }}
{{ end }}
