{{ define "Show" }}
  {{ template "Header" }}
    {{ template "Menu"  }}
    <div>
    <h2> Welcome To The In Formation Center ({{ .Name }} )</h2>
      <p>Name: {{ .Name }}</p>
      <p>City: {{ .City }}</p>
       <p>Your Contact Number: {{ .Number }}</p>
      <p>Your Pincode: {{ .Pincode }}</p>
      <br /> <a href="/edit?id={{ .Id }}">Edit</a></p>
      </div>
  {{ template "Footer" }}
{{ end }}